<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout"
    >

    <head>
        <style type="text/css" th:inline="text">
            .paginator td {
                padding: 5px;
            }
        </style>
        
    	<script type="text/javascript" th:src="@{/js/lib/ParameterAppClass.js}" ></script>
    	<script type="text/javascript" th:src="@{/js/lib/EditEligibleEntriesClass.js}" ></script>
        <script type="text/javascript" th:src="@{/js/app/parameters/ParameterComponents.js}" ></script>
        <script type="text/javascript" th:src="@{/js/lib/SelectEntryClass.js}" ></script>
    </head>
    <body>
        <div layout:fragment="content">
        	<!-- parameter-layout2 -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" id="app-content">
                    <div class="x_title">
                        <button type="button" class="btn btn-default pull-right" @click="parameterApp.createParameter"><i class="fa fa-plus"></i></button> 
                        <h2><span layout:fragment="parameterTitle"></span></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <span layout:fragment="parameterContent"></span>
                    </div>
                </div>
            </div>
            
            <!-- Grid -->
            <script type="text/x-template" id="grid-row-template">
                <tr v-on:click="onClick">
                    <td v-for="(col, index) in row" v-bind:is="getTemplate(index)" :value="col" :data="rawdata"></td>
                </tr>
            </script>

            <script type="text/x-template" id="paginator-template">
                <table style="padding-top:10px; border-spacing: 10px;">
                    <tr class="paginator">
                        <td><button class="btn btn-block btn-success" @click="gotoFirstPage"><i class="fa fa-fast-backward"/></button></td>
                        <td><button class="btn btn-block btn-success" @click="gotoPreviousPage"><i class="fa fa-backward"/></button></td>
                        <td class="lead">Σελίδα {{currentpage}} από {{pages}}</td>
                        <td><button class="btn btn-block btn-success" @click="gotoNextPage"><i class="fa fa-forward"/></button></td>
                        <td><button class="btn btn-block btn-success" @click="gotoLastPage"><i class="fa fa-fast-forward"/></button></td>
                        <td class="lead">Σύνολο εγγραφών: <span v-model="totalrecordscount">{{totalrecordscount}}</span></td>
                    </tr>
                </table>
            </script>

            <script type="text/x-template" id="grid-template">
                <span>
					
					<div class="form-group">
						<div class="top_search col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Αναζήτηση..." v-model="filter"/>
								<span class="input-group-btn">
	                      			<button class="btn btn-default" type="button">&nbsp;</button>
	                    		</span>
							</div>
						</div>
						
						<div class="pull-right">
							<slot name="commands">
							</slot>
						</div>
						
					</div>
					
                    <table class="table table-hover">
                        <thead><tr><th v-for="(field, index) in fieldsset" @click="sort(field)" v-bind:class="getSortClass(field)">{{field.title}}</th></tr></thead>
                        <tbody v-for="(row, index) in rows">
                            <grid-row :rawdata="row" @onselectRow="onselectRowListener"></grid-row>
                        </tbody>
                    </table>
					<paginator v-if="pagingenabled" :me="pg" :currentPage="pg.currentpage" :totalRecordsCount="pg.totalrecordscount" :Pages="pg.pages" :recordsPerPage="pg.recordsPerPage"></paginator>
                </span>
            </script>

            <script type="text/x-template" id="default-template">
                <td>{{value}}</td>
            </script>
            <!-- / Grid -->
            
			<script type="text/x-template" id="edit-generic-parameter-dialog-template">
				<div class="modal show">
					<div class="modal-dialog">
	            		<div class="modal-content">
		              		<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" @click="cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			                	<h4 class="modal-title">
									<span v-if="data.id==null && !viewonly"><i class="fa fa-plus" /> Νέα εγγραφή</span> 
									<span v-if="data.id!=null && !viewonly"><i class="fa fa-edit" /> Επεξεργασία εγγραφής </span> 
									<slot name="header"></slot>
								</h4>
							</div>
							<div class="modal-body">
								<slot name="fields"></slot>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary pull-left" @click="save" v-if="viewonly==false"><i class="fa fa-check"></i></button>
	                			<button type="button" class="btn btn-default" @click="cancel"><i class="fa fa-sign-out"></i></button>
	              			</div>
	            		</div>
					</div>
	        	</div>
			</script>
			
        <script type="text/x-template" id="edit-parameter-component-template">
            <td class="col-md-1">
				<button class="btn btn-primary" @click="onEditParameter"><i class="fa fa-edit"></i></button>
			</td>
        </script>

        <script type="text/x-template" id="delete-parameter-component-template">
            <td class="col-md-1">
				<button class="btn btn-danger" @click="onDeleteParameter"><i class="fa fa-close"></i></button>
			</td>
        </script>
			
            <!-- /parameter-layout2 -->
        </div>
    </body>
</html>