<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="parameter-layout">

<head>
    <title th:text="#{parameters.scientificFields.title}"></title>
</head>

<body>
    <span layout:fragment="pageTitle" th:text="#{parameters.scientificFields.title}"></span>
    <div layout:fragment="parameterTitle" th:text="#{parameters.scientificFields.title}"></div>
    <div layout:fragment="parameterContent">
        <div id="GoesHere">
            <grid ref="grid" :defaulttemplate="parameterApp.defaultTemplateObject" :pagingenabled="parameterApp.enablePaging" :pg="parameterApp.pg" :sorting="parameterApp.sorting" :fieldsset="fieldsset" :dataset="parameterApp.dataset" :gridcomponents="gridcomponents" v-if="parameterApp.dataset!=null"></grid>
            
			<edit-scientific-field-dialog v-if="parameterApp.isEditDialogVisible" :scientificfield="parameterApp.currentParameter" @onclose="parameterApp.closeEditDialog"></edit-scientific-field-dialog>
			
			<info-dialog v-if="parameterApp.isInfoDialogVisible" :message="currentInfoMessage" @onclose="onInfoDialogClose"></info-dialog>

			<yesno-dialog v-if="parameterApp.isYesNoDialogVisible" :confirmationfunc="parameterApp.deleteParameter" :disagreementfunc="parameterApp.denialParameterDeletion" :cancelfunc="parameterApp.denialParameterDeletion"  :message="parameterApp.questionMessage"></yesno-dialog>
        </div>        
    </div>

    <span layout:fragment="page-script">
        <script type="text/javascript" th:src="@{/js/app/parameters/scientificFields.js}" ></script>
    </span>
    
    <span layout:fragment="after-content">
	    <script type="text/x-template" id="edit-scientific-field-dialog-template">
			<edit-generic-parameter-dialog :data="scientificfield" :cancelaction="parameterApp.closeEditDialog" :saveaction="parameterApp.saveParameter">
				<span style="font-weight:bold;" slot="header"> {{scientificfield.description}}</span>

				<div slot="fields">
					<div class="form-group">
						<div class="row">
							<div><label class="col-lg-2" th:text="#{parameters.description}"></label></div>
							<div class="col-lg-10"><input type="text" ref="description" v-model="scientificfield.description" class="form-control" /></div>
						</div>
						<div class="row">
							<div class="col-lg-2"></div>
							<div class="col-lg-10 errorText" ref="descriptionError"></div>
						</div>

					</div>

					<div class="form-group">
						<div class="row">
							<div><label class="col-lg-2" th:text="#{parameters.number}"></label></div>
							<div class="col-lg-2"><input type="text" ref="number" v-model="scientificfield.number" class="form-control" /></div>
						</div>
						<div class="row">
							<div class="col-lg-2"></div>
							<div class="col-lg-10 errorText" ref="numberError"></div>
						</div>

					</div>

				</div>
			</edit-generic-parameter-dialog>
		</script>      
    </span>

</body>

</html>