<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="parameter-layout">

<head>
    <title>Universities</title>
</head>

<body>
    <span layout:fragment="pageTitle">Universities</span>
    <div layout:fragment="parameterTitle" th:text="#{parameters.universities.title}"></div>
    <div layout:fragment="parameterContent">
        <div id="app-content">
            <grid ref="grid" :defaulttemplate="parameterApp.defaultTemplateObject" :pagingenabled="parameterApp.enablePaging" :pg="parameterApp.pg" :sorting="parameterApp.sorting" :fieldsset="fieldsset" :dataset="parameterApp.dataset" :gridcomponents="gridcomponents" v-if="parameterApp.dataset!=null"></grid>
            
			<edit-university-dialog v-if="parameterApp.isEditDialogVisible" :university="parameterApp.currentParameter" @onclose="parameterApp.closeEditDialog"></edit-university-dialog>
			
			<edit-university-faculties-dialog v-if="editUniversityFacultiesApp.isEditEntriesVisible" :faculties="editUniversityFacultiesApp.entries"></edit-university-faculties-dialog>
			
			<select-university-eligible-faculties-dialog v-if="editUniversityFacultiesApp.isSelectEligibleEntriesVisible" :faculties="editUniversityFacultiesApp.eligibleEntries"></select-university-eligible-faculties-dialog>
			
			<info-dialog v-if="parameterApp.isInfoDialogVisible" :message="currentInfoMessage" @onclose="onInfoDialogClose"></info-dialog>

			<yesno-dialog v-if="parameterApp.isYesNoDialogVisible" :confirmationfunc="parameterApp.deleteParameter" :disagreementfunc="parameterApp.denialParameterDeletion" :cancelfunc="parameterApp.denialParameterDeletion"  :message="parameterApp.questionMessage"></yesno-dialog>
        </div>        
    </div>

    <span layout:fragment="page-script">
        <script type="text/javascript" th:src="@{/js/app/parameters/universities.js}" ></script>
    </span>
    
    <span layout:fragment="after-content">
	    <script type="text/x-template" id="edit-university-dialog-template">
			<edit-generic-parameter-dialog :data="university" :cancelaction="parameterApp.closeEditDialog" :saveaction="parameterApp.saveParameter">
				<span style="font-weight:bold;" slot="header"> {{university.description}}</span>

				<div class="form-group" slot="fields">
					<div class="row">
						<div><label class="control-label col-lg-2">Περιγραφή</label></div>
						<div class="col-lg-10"><input type="text" v-model="university.description" class="form-control" /></div>
					</div>
				
				</div>
			</edit-generic-parameter-dialog>
		</script>
		
        <script type="text/x-template" id="edit-university-faculties-template">
            <td class="col-md-1">
				<button class="btn btn-warning" @click="onEditUniversityFaculties"><i class="fa fa-graduation-cap"></i></button>
			</td>
        </script>

        <script type="text/x-template" id="delete-university-faculty-template">
            <td class="col-md-1">
				<button class="btn btn-danger" @click="onDeleteUniversityFaculty"><i class="fa fa-close"></i></button>
			</td>
        </script>
        
	    <script type="text/x-template" id="edit-university-faculties-dialog-template">
			<edit-generic-dialog :data="faculties" :cancelaction="editUniversityFacultiesApp.closeEditDialog" :saveaction="editUniversityFacultiesApp.updateEntries">
				<span style="font-weight:bold;" slot="header">
					<button type="button" class="btn btn-default" @click="editUniversityFacultiesApp.showEiligbleEntries"><i class="fa fa-plus"></i></button>
					<span class="pull-right" style="padding-right:15px;">Faculties</span>
				</span>

				<div slot="data">
					<div class="row" style="padding:10px;">
						<grid ref="grid" :defaulttemplate="parameterApp.defaultTemplateObject" :pagingenabled="true" :pg="editUniversityFacultiesApp.pg" :fieldsset="editUniversityFacultiesApp.fieldsset" :dataset="faculties" :gridcomponents="editUniversityFacultiesApp.gridcomponents"></grid>
					</div>
				</div>
			</edit-generic-dialog>
		</script>
		
		<script type="text/x-template" id="select-university-eligible-faculty-template">
            <td class="col-md-1">
				<input type="checkbox" v-model="data.selected" v-on:change="onSelectEligibleFaculty" />
			</td>
		</script>

		<script type="text/x-template" id="select-university-eligible-faculties-dialog-template">
			<edit-generic-dialog :data="faculties" :cancelaction="editUniversityFacultiesApp.closeEligibleEntriesDialog" :saveaction="editUniversityFacultiesApp.addEntries">
				<span style="font-weight:bold;" slot="header">
					<span>Select Faculties</span>
				</span>

				<div slot="data">
					<div class="row" style="padding:10px;">
 						<grid ref="grid" :defaulttemplate="parameterApp.defaultTemplateObject" :pagingenabled="true" :pg="editUniversityFacultiesApp.pg2" :fieldsset="editUniversityFacultiesApp.eligibleFieldsset" :dataset="faculties" :gridcomponents="editUniversityFacultiesApp.eligibleGridcomponents"></grid>
					</div>
				</div>
			</edit-generic-dialog>
		</script>
    </span>

</body>

</html>